<div class="row mt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-lg">
      <div class="card-header">
        <h3 class="mb-0">Register</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="formulario" class="form" (ngSubmit)="enviar(formulario.value)">
          <div class="form-group">
            <label for="">e-mail</label>
            <input formControlName="email" type="email" name="email" id="" class="form-control rounded-lg">
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input formControlName="password" type="password" name="password" id="" class="form-control rounded-lg">
          </div>
          <!-- (click)="registerUser()" -->
          <button type="submit" class="btn btn-primary float-right">Registrar</button>
          {{formulario.value | json}}
        </form>
      </div>
    </div>
  </div>
</div>
